<li>
	{{name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devour}}">
		{{#if devour}}Buy another one!{{else}}BURGER TIME!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE</button>
</li>