<li>
	<strong>{{name}}</strong>

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devour}}">
		{{#if devour}}Get another one!{{else}}DEVOUR IT!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Delete this burger</button>
</li>